<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Box</title>
    <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
    <p id="poem">
        <blockquote>
            A smile<br>
            So bright<br>
            That it rivaled<br>
            The sparkle<br>
            Of your eyes<br>
            Whenever<br>
            You saw me.<br>
            Your laugh,<br>
            Rivaling the tinkle<br>
            Of church bells.<br>
            I mean,<br>
            You aren’t like<br>
            Everybody else,<br>
            But I thank god<br>
            For that.<br>
        </blockquote>
    </p>
</body>

</html>